In [20]:
#Import dependencies
import pandas as pd
import numpy as np

measurements_pd = pd.read_csv("hawaii_measurements.csv")
stations_pd = pd.read_csv("hawaii_stations.csv")

In [9]:
measurements_pd.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [ ]:
stations_pd.head()

In [21]:
#Get info on measurements dataset. Stations dataset looks clean
measurements_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null object
date       19550 non-null object
prcp       18103 non-null float64
tobs       19550 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.0+ KB

In [18]:
#Drop all NaN or null inputs from measurements dataset. Small portion of data will be loss.
measurements_pd = measurements_pd.dropna(how = "any")
print(len(measurements_pd))

18103

In [ ]:
#Export to csv
measurements_pd.to_csv("clean_measurements.csv")